.header {
  padding: 1rem 0;
  height: 7.6rem;
  background-color: #23b27c;

  .header-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  height: 5rem;
  width: 5rem;
}

.menu {
  list-style: none;
  display: flex;
  gap: 30px;

  li {
    a {
      font-size: 14px;
      color: #fefefe;
      padding-bottom: 1px;

      &:hover {
        border-bottom: 1px solid #fefefe;
      }
    }
  }
}
